@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}

/* ===== NAVBAR ===== */

.main-header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
    padding: 18px 55px;
}

.nav-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MENU */

.nav-menu{
    display: flex;
    align-items: center;
    gap: 38px;
    list-style: none;
}

.nav-menu li a{
    text-decoration: none;
    color: #9BB2F5;
    font-size: 13px;
    font-weight: 300;
    transition: 0.3s ease;
}

.nav-menu li a:hover{
    color: #7393ea;
}

/* LOGO */

.nav-logo img{
    width: 155px;
    display: block;
}

/* RIGHT SIDE */

.nav-right{
    display: flex;
    align-items: center;
    gap: 18px;
}

/* SEARCH BAR */

.barra-busqueda{
    position: relative;
}

.barra-busqueda input{
    width: 120px;
    height: 24px;
    border: none;
    border-radius: 20px;
    background-color: #EEF3FF;
    padding: 0 14px;
    outline: none;

    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #7c7c7c;
}

/* ICONS */

.cart-icon img,
.user-icon img{
    width: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-icon img:hover,
.user-icon img:hover{
    transform: scale(1.08);
}